<div class="content-wrapper">
    <div class="text-center mb-xl">
        <div class="text-lg mb-lg">401</div>
        <p class="lead m0">Unauthorized.</p>
        <p>You are not authorized to access Vanderbilt Discharge Transport Management. If you feel that this is a mistake, please contact support.</p>
    </div>
</div>

<ul class="list-inline text-center text-sm mb-xl">
    <li>
        <a href="~/Login/LoginPage" class="text-muted">Login</a>
    </li>
</ul>